{% extends 'eventso/signuptheme.html' %}
{% load crispy_forms_tags%}
{% block content %}
<form  method="POST">

    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-12">
            {{ form|crispy}}
        </div>
        <div class="form-group col-lg-12 mx-auto mb-0">
            
           <button type="submit" class="btn btn-primary">Create an Account</button>
        </div>

        <!-- Divider Text -->
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
            <div class="border-bottom w-100 ml-5"></div>
            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
            <div class="border-bottom w-100 mr-5"></div>
        </div>

       

        <!-- Already Registered -->
        <div class="text-center w-100">
            <p class="text-muted font-weight-bold">Already Registered? <a href="#" class="text-primary ml-2">Login</a></p>
        </div>

    </div>

</form>
{% endblock %}