{% extends 'eventso/theme.html' %}
{% block content %}
<h1>Latest Events</h1>
{% for post in posts %}
  <div class="container">
    <div class="col-md-12 mx-auto">
      <div class="card mb-3 p-3" >
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" > 
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.short }}</p>
          <h6>{{ post.event_date}}&nbsp;&nbsp;&nbsp;{{ post.event_time }}</h6>
          <a href="#" class="btn btn-primary">Learn more</a>
          <a href="#" class="btn btn-success">Join</a>
          <p class="card-text pt-3"><small class="text-muted">-{{ post.author }}</small></p>
          <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
        </div>
      </div> 
    </div>
  </div>  
{% endfor %}
{% endblock content %}